.carousel-indicators li {
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
}